<?xml version="1.0"?>

<robot name="cage">
  <link name="base_link">
    <visual>
      <geometry>
         <mesh filename="package://abb_irb1200_support/meshes/irb1200_7_70/visual/cage.stl" />
      </geometry>
    </visual>
  </link>

    <link name="${prefix}base" />
    <joint name="${prefix}base_link-base" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base"/>
    </joint>

</robot>
